<div class="mt-2">
    <% if (message) { %>
        <div class="alert alert-success alert-dismissable">
            <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
            <strong>Success!</strong>
            <%= message %>
        </div>
        <% } %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(item=> { %>
                        <tr>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.role %>
                            </td>
                            <td>
                                <a href="/admin/updaterole/<%= item._id%>" class="btn btn-success">update</a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
</div>