<div class="container mt-2">
    <div class="card">
        <div class="card-header">
            <h1 class="mb-4">Thông tin người dùng</h1>
        </div>
        <div class="card-body">
            <% if (user) { %>
                <div class="mb-3">
                    <strong>Tên:</strong>
                    <%= user.name %>
                </div>
                <div class="mb-3">
                    <strong>Email:</strong>
                    <%= user.email %>
                </div>
                <div class="mb-3">
                    <strong>Số điện thoại:</strong>
                    <%= user.phone %>
                </div>
                <div class="mb-3">
                    <strong>Giới tính:</strong>
                    <%= user.gender %>
                </div>
                <div class="mb-3">
                    <strong>Địa chỉ:</strong>
                    <%= user.address %>
                </div>
                <a href="/user/update/<%= user._id %>" class="btn btn-success mt-2">Cập nhật</a>
                <% } else { %>
                    <div class="alert alert-danger">Người dùng không tồn tại.</div>
                    <% } %>
        </div>
    </div>
</div>